
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/MyExtensions/css/vendors.min.css" rel="stylesheet" />
<link href="~/MyExtensions/css/bootstrap.css" rel="stylesheet" />
<link href="~/MyExtensions/css/bootstrap-extended.css" rel="stylesheet" />
<link href="~/MyExtensions/css/pickadate/pickadate.css" rel="stylesheet" />
<link href="~/MyExtensions/css/daterange/daterangepicker.css" rel="stylesheet" />
<link href="~/MyExtensions/css/components.css" rel="stylesheet" />
<link href="~/MyExtensions/css/dark-layout.css" rel="stylesheet" />
<link href="~/MyExtensions/css/semi-dark-layout.css" rel="stylesheet" />
<link href="~/MyExtensions/css/colors.css" rel="stylesheet" />
<link href="~/MyExtensions/css/style.css" rel="stylesheet" />
<link href="~/MyExtensions/css/vertical-menu.css" rel="stylesheet" />
<section id="pick-a-date">
    <fieldset class="form-group position-relative has-icon-left">
        <input type="text" class="form-control pickadate" placeholder="Select Date">
        <div class="form-control-position">
            <i class='bx bx-calendar'></i>
        </div>
    </fieldset>
</section>

<section id="pick-a-time">
    <fieldset class="form-group position-relative has-icon-left">
        <input type="text" class="form-control pickatime" placeholder="Select Time">
        <div class="form-control-position">
            <i class='bx bx-history'></i>
        </div>
    </fieldset>
</section>
<script src="~/MyExtensions/vendors.min.js"></script>
<script src="~/MyExtensions/LivIconsEvo.tools.js"></script>
<script src="~/MyExtensions/LivIconsEvo.defaults.js"></script>
<script src="~/MyExtensions/LivIconsEvo.min.js"></script>

<script src="~/MyExtensions/pickers/pickadate/picker.js"></script>
<script src="~/MyExtensions/pickers/pickadate/picker.date.js"></script>
<script src="~/MyExtensions/pickers/pickadate/picker.time.js"></script>
<script src="~/MyExtensions/pickers/pickadate/legacy.js"></script>
<script src="~/MyExtensions/extensions/moment.min.js"></script>
<script src="~/MyExtensions/pickers/daterange/daterangepicker.js"></script>

<script src="~/MyExtensions/app-menu.js"></script>
<script src="~/MyExtensions/app.js"></script>
<script src="~/MyExtensions/components.js"></script>
<script src="~/MyExtensions/footer.js"></script>
<script src="~/MyExtensions/dateTime/pick-a-datetime.js"></script>

