<!-- ======= Hero Section ======= -->
<link href="~/MyExtensions/css/pickadate/pickadate.css" rel="stylesheet" />
<link href="~/MyExtensions/css/daterange/daterangepicker.css" rel="stylesheet" />
<link href="~/MyExtensions/css/components.css" rel="stylesheet" />
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row mybackground">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div class="m-5" style="background: #fff; border-radius: 20px">
                    <div class="m-3">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class="aactive achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class="achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class="achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control pickadate" placeholder="Select Date">
                            <div class="form-control-position">
                                <i class='bx bx-calendar'></i>
                            </div>
                        </fieldset>

                        <fieldset class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control pickatime" placeholder="Select Time">
                            <div class="form-control-position">
                                <i class='bx bx-history'></i>
                            </div>
                        </fieldset>
                        <div class="form_datlich">
                            <div class="d-flex justify-content-center">
                                <h1 class="d-flex justify-content-center" style="color: #003E5F; margin-bottom: 0px">
                                    THÔNG TIN ĐẶT LỊCH
                                </h1>
                            </div>
                            <div class="form_datlich_inputbox">
                                <input placeholder="Nhập họ và tên..." /> <i class="bx bxs-user"></i>
                            </div>
                            <div class="form_datlich_inputbox">
                                <input placeholder="Lựa chọn vị trí" /> <i class="bx bxs-map"></i>
                            </div>
                            <div class="form_datlich_inputbox">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form_datlich_inputbox">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control pickadate" placeholder="Select Date">
                                                <div class="form-control-position">
                                                    <i class='bx bx-calendar'></i>
                                                </div>
                                            </fieldset>

                                            <!--<div class="input-group date">
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control pickadate" placeholder="Select Date">
                                <div class="form-control-position">
                                    <i class='bx bx-calendar'></i>
                                </div>
                            </fieldset>-->
                                            @*<input type="text" placeholder="Chọn ngày"><span class="input-group-addon"><i class='bx bx-calendar'></i></span>*@
                                            <!--</div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form_datlich_inputbox">
                                            <input type="text" class="form-control pickatime" placeholder="Select Time">
                                            <div class="form-control-position">
                                                <i class='bx bx-history'></i>
                                            </div>
                                            @*<input placeholder="Chọn giờ" /><i class='bx bx-time-five'></i>*@

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form_datlich_inputbox">
                                <input placeholder="Ghi chú cho chuyên gia" /> <i class='bx bxs-map-pin'></i>
                            </div>

                        </div>
                        <div class="d-flex justify-content-between btnnextprev">
                            <div style=" width: 150px; border-radius: 50px; text-align: center; ">
                                <a class="d-flex align-items-center" onclick="back()" href="#" style="color: #95ACA9">
                                    <i class="fa fa-angle-double-left fa-2x"></i>
                                    <strong class="d-flex align-items-center">
                                        &nbsp &nbsp Trở về
                                    </strong>
                                </a>
                            </div>
                            <div style="outline:2px solid #003E5F;border: 1.5px solid #fff; width: 150px; border-radius: 50px; text-align: center; background: #003E5F; ">
                                <a class="d-flex align-items-center" onclick="next()" href="#" style="color: #fff">
                                    <strong class="d-flex align-items-center">
                                        <i class="fa fa-angle-double-right fa-2x" style="padding-left:10px; padding-right:15px"></i>
                                        TIẾP THEO
                                    </strong>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- End Hero -->
<style>

    #hero h1 {
        font-size: 26px;
    }

    .mybackground {
        background-image: url('../../Upload/CARRECT1_BACKGROUND.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col-2 {
        width: 12.666667%;
    }

    .stepul {
        position: fixed;
        z-index: 99999999;
        left: 18%;
        top: 250px;
        transform: translate(0px,-50%);
    }
</style>


@*<link href="~/assets/dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/assets/dist/js/bootstrap-datepicker.min.js"></script>*@
<script src="~/MyExtensions/pickers/pickadate/picker.js"></script>
<script src="~/MyExtensions/pickers/pickadate/picker.date.js"></script>
<script src="~/MyExtensions/pickers/pickadate/picker.time.js"></script>
<script src="~/MyExtensions/pickers/pickadate/legacy.js"></script>
<script src="~/MyExtensions/extensions/moment.min.js"></script>
<script src="~/MyExtensions/pickers/daterange/daterangepicker.js"></script>
<script src="~/MyExtensions/components.js"></script>
<script src="~/MyExtensions/dateTime/pick-a-datetime.js"></script>
<script>
    $('.input-group.date').datepicker({
    });

    $('#datetimepicker3').datetimepicker({
        format: 'LT'
    });
</script>