<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row mybackground">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div class="m-5" style="background: #fff; border-radius: 20px">
                    <div class="m-3">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class="achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="aactive achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class="achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class="achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form_datlich">
                            <div class="d-flex justify-content-center">
                                <h1 class="d-flex justify-content-center" style="color: #003E5F; margin-bottom: 0px">
                                    LỰA CHỌN DỊCH VỤ
                                </h1>
                            </div>
                            <div class="chooseservice_box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="chooseservice_img">
                                            <div class="click-chon ">
                                                <i onclick="active_checkbx(this)" class="bx bx-check">
                                                </i>
                                            </div>
                                            <div class="img-services">
                                                <img src="~/assets/img/CAR_SPA_FLEX.png" class="img-responsive " />
                                            </div>
                                            <div class="clearfix">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="chooseservice_content">
                                            <div class="chooseservice_title" style="text-align:center">
                                                CAR spa flex
                                            </div>
                                            <div class="chooseservice_desc" style="text-align:center">
                                                Vệ sinh ngoại thất chuyên sâu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseservice_box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="chooseservice_img">
                                            <div class="click-chon ">
                                                <i onclick="active_checkbx(this)" class="bx bx-check">
                                                </i>
                                            </div>
                                            <div class="img-services">
                                                <img src="~/assets/img/CAR_SPA_SINGLE.png" class="img-responsive " />
                                            </div>
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="chooseservice_content">
                                            <div class="chooseservice_title" style="text-align:center">
                                                CAR SPA SINGLE
                                            </div>
                                            <div class="chooseservice_desc" style="text-align:center">
                                                Vệ sinh ngoại thất chuyên sâu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseservice_box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="chooseservice_img">
                                            <div class="click-chon ">
                                                <i onclick="active_checkbx(this)" class="bx bx-check">
                                                </i>
                                            </div>
                                            <div class="img-services">
                                                <img src="~/assets/img/CAR_SPA_COUPLE.png" class="img-responsive " />
                                            </div>
                                            <div class="clearfix">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="chooseservice_content">
                                            <div class="chooseservice_title" style="text-align:center">
                                                CAR SPA COUPLE
                                            </div>
                                            <div class="chooseservice_desc" style="text-align:center">
                                                Vệ sinh ngoại thất chuyên sâu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseservice_box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="chooseservice_img">
                                            <div class="click-chon ">
                                                <i onclick="active_checkbx(this)" class="bx bx-check">
                                                </i>
                                            </div>
                                            <div class="img-services">
                                                <img src="~/assets/img/CAR_SPA_FAMILY.png" class="img-responsive " />
                                            </div>
                                            <div class="clearfix">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="chooseservice_content">
                                            <div class="chooseservice_title" style="text-align:center">
                                                CAR SPA FAMILY
                                            </div>
                                            <div class="chooseservice_desc" style="text-align:center">
                                                Vệ sinh ngoại thất chuyên sâu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseservice_box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="chooseservice_img">
                                            <div class="click-chon ">
                                                <i onclick="active_checkbx(this)" class="bx bx-check">
                                                </i>
                                            </div>
                                            <div class="img-services">
                                                <img src="~/assets/img/GRABOIL.png" class="img-responsive " />
                                            </div>
                                            <div class="clearfix">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="chooseservice_content">
                                            <div class="chooseservice_title" style="text-align:center">
                                                KIXX GRABOIL
                                            </div>
                                            <div class="chooseservice_desc" style="text-align:center">
                                                Vệ sinh ngoại thất chuyên sâu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="chooseservice_box">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="chooseservice_img">
                                            <div class="click-chon ">
                                                <i onclick="active_checkbx(this)" class="bx bx-check">
                                                </i>
                                            </div>
                                            <div class="img-services">
                                                <img src="~/assets/img/GRABOIL.png" class="img-responsive " />
                                            </div>
                                            <div class="clearfix">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="chooseservice_content">
                                            <div class="chooseservice_title" style="text-align:center">
                                                CASTROL GRABOIL
                                            </div>
                                            <div class="chooseservice_desc" style="text-align:center">
                                                Vệ sinh ngoại thất chuyên sâu
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div style=" width: 150px; border-radius: 50px; text-align: center; ">
                                <a class="d-flex align-items-center" onclick="fetchStep2()" href="#" style="color: #95ACA9">
                                    <i class="fa fa-angle-double-left fa-2x"></i>
                                    <strong class="d-flex align-items-center">
                                        &nbsp &nbsp Trở về
                                    </strong>
                                </a>
                            </div>
                            <div style="outline:2px solid #003E5F;border: 1.5px solid #fff; width: 150px; border-radius: 50px; text-align: center; background: #003E5F; ">
                                <a class="d-flex align-items-center" onclick="fetchStep4()" href="#" style="color: #fff">                                    
                                    <strong class="d-flex align-items-center">
                                        <i class="fa fa-angle-double-right fa-2x" style="padding-left:10px; padding-right:15px"></i>
                                        TIẾP THEO
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- End Hero -->
<style>
    .click-chon-active {
        background-color: #003E5F;
        border: none;
    }
    .click-chon i {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        color: #fff !important;
        font-size: 18px !important;
        border: 1px solid #bfbfbf;
    }

    .click-chon i {
        position: relative !important;
    }
    .click-chon {
        float: left;
        width: 10%;
        position: relative;
        top: 40px;
        left: -25px;
    }

    .img-services {
        float: left;
        width: 90%;
    }

    #hero h1 {
        font-size: 26px;
    }

    .mybackground {
        background-image: url('../../Upload/CARRECT1_BACKGROUND.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col-2 {
        width: 12.666667%;
    }

    #hero {
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .stepul {
        position: fixed;
        z-index: 99999999;
        left: 23%;
        top: 350px;
        transform: translate(0px,-50%);
    }
</style>
<script>
    function active_checkbx(dis) { 
        if ($(dis).hasClass("click-chon-active"))
        {            
            $(dis).removeClass("click-chon-active");
        }
        else {
            
            $(dis).addClass("click-chon-active");
        }
    }
    
</script>