<div id="fetchMenuTop">
</div>
<div id="fetchInfoBooking">
</div>
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>Appland</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-bootstrap-app-landing-page-template/ -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<script>
    fetchMenuTop1();
    fetchPhoneInputForm();

    function fetchMenuTop1() {
        $.ajax({
            type: "POST",
            url: '/Home/MenuTop1',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchMenuTop').html(res);
            },
        });
    }
    function fetchMenuTop2() {
        $.ajax({
            type: "POST",
            url: '/Home/MenuTop2',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchMenuTop').html(res);
            },
        });
    }
    function fetchPhoneInputForm() {

        $.ajax({
            type: "POST",
            url: '/Home/PhoneInputForm',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchOTPAuthentication() {
        fetchMenuTop2();
        $.ajax({
            type: "POST",
            url: '/Home/OTPAuthentication',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep1() {
        $.ajax({
            type: "POST",
            url: '/Home/BookingDetails',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#fetchInfoBooking').html(res);
            },
        });
    }
    function fetchStep2() {
        $.ajax({
            type: "POST",
            url: '/Home/InputCarDetails',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#MyAuthentication').html(res);
            },
        });
    }
    function fetchStep3() {
        $.ajax({
            type: "POST",
            url: '/Home/ChooseServices',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#MyAuthentication').html(res);
            },
        });
    }
    function fetchStep4() {
        $.ajax({
            type: "POST",
            url: '/Home/ReviewBillsDiscount',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#MyAuthentication').html(res);
            },
        });
    }
    function fetchStep5() {
        //CHỌN PHUONG THUC KHUYEN MAI
    }
    function fetchStep6() {
        $.ajax({
            type: "POST",
            url: '/Home/WaitScreen',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#MyAuthentication').html(res);
            },
        });
    }
    function fetchStep7() {
        $.ajax({
            type: "POST",
            url: '/Home/SuccessBooking',
            contentType: "application/json; charset=utf-8",
            dataType: "html",
            async: false,
            success: function (res) {
                $('#MyAuthentication').html(res);
            },
        });
    }
</script>