<header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Về Carrect</a></li>
                <li><a class="nav-link scrollto" href="#features">Dịch vụ</a></li>
                <li><a class="nav-link scrollto" href="#gallery">Tin tức</a></li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div class="logo">
            @*<h1><a href="index.html">Appland</a></h1>*@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html"><img src="~/Upload/logo_carrect.png" alt="" style="max-height:60px" class="img-fluid"></a>            
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#pricing">VI</a></li>
                <li><a class="nav-link scrollto" href="#faq">EN</a></li>
                <li><a class="nav-link scrollto" href="#contact">Điểm tích luỹ: 100</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<style>
    #header.header-transparent {
        background: #fff;
    }
</style>