<!-- ======= Header ======= -->
<header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#gallery" style="font-family: SVN-Poppins-Bold">HOTLINE: 035 510 8995</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <div class="logo">
            <a href="index.html"><img src="~/Upload/logo_carrect.png" alt="" style="max-height:45px" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="#pricing" style="font-family: SVN-Poppins-Bold">HUỶ ĐĂNG KÝ <i style="font-size: 40px" class="bx bx-x"></i></a></li>     
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<!-- End Header -->
