<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div  class="container d-flex align-items-center justify-content-between">
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" style="font-family: SVN-Poppins-Bold" href="#hero">Về Carrect</a></li>
                <li><a class="nav-link scrollto" style="font-family: SVN-Poppins-Bold" href="#features">Dịch vụ</a></li>
                <li><a class="nav-link scrollto" style="font-family: SVN-Poppins-Bold" href="#gallery">Tin tức</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <div class="logo">
            <a href="index.html"><img src="~/Upload/logo_carrect.png" alt="" style="max-height:45px" class="img-fluid"></a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a href="#"><span class="flag-icon flag-icon-vnm"></span> &nbsp</a>
                    
                </li>
                <li>
                    <a href="#"><span class="flag-icon flag-icon-usa"></span> &nbsp</a>
                    
                </li>
                
                <li>
                    <div class="container-fluid">
                        <div class="row">   
                            <div class="col-3 d-flex justify-content-end align-items-center">
                                <i class="bx bx-user mr-50"></i>
                            </div>
                            <div class="col-9 d-flex justify-content-end">
                                <div class="p-1" style=" width: 155px; border-radius: 50px; text-align: center; background: #717173; font-size: 14px; font-family: SVN-Poppins-Bold; color: #fff ">
                                    Điểm tích luỹ: 100
                                </div>
                            </div>
                        </div>
                    </div>
                    
                
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
<!-- End Header -->
