<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div style="width: 50%; background: #D6D6E2; border-radius: 50px">
                    <div class="m-5">
                        <div class="d-flex justify-content-center">
                            <div style="width:50%;border-radius:50px;background: #002C61">
                                <h1 class="d-flex justify-content-center" style="color: #FCF600; margin-bottom: 0px;">
                                    XÁC THỰC OTP
                                </h1>
                            </div>
                        </div>
                        <h4 class="d-flex justify-content-center" style="margin-bottom:-5px">OTP đã được gửi đến số điện thoại</h4>
                        <h4 class="d-flex justify-content-center">0909.673.564</h4>
                        <h2 class="d-flex justify-content-center" style="color: #FCF600; font-style:italic; margin-top:10px;margin-bottom:20px">Nhập mã xác thực</h2>
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="row">
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" name="name" value="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>                     

                        
                        <div style="text-align:center">
                            <br />
                            <p>
                                (Hết hạn trong 2:00)
                            </p>
                            <p><strong>Bạn chưa nhận được mã? Gửi lại</strong></p>
                            <br />
                            <button onclick="fetchStep1()" type="button" class="btn btn-primary">>> Xác thực</button>
                        </div>                        
                    </div>
                </div>
            </div>

            @*<div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="/assets/img/master.png" class="img-fluid" alt="">
                </div>*@
        </div>
    </div>

</section><!-- End Hero -->
<style>
    #hero h1 {
        font-size: 20px;
    }

    h3 {
        margin-top: 20px;        
    }

</style>
