<section id="hero" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-3 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            </div>
            <div class="col-lg-6 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div  class="inputform">
                    <div   class="inputform_padding">
                        <div class="d-flex justify-content-center">
                            <div class="ringing-bell" style="border-radius: 50px; background: #003E5F; ">
                                <h1 class="d-flex justify-content-center align-items-center m-2" style="color: #FCF600; margin-bottom: 0px; line-height:30px">
                                    &nbsp <i class='fa fa-bell faa-ring animated fa-1x'></i> &nbsp &nbsp ĐẶT LỊCH NGAY &nbsp &nbsp
                                </h1>
                            </div>
                        </div>
                        <div style="padding-top:10px; padding-bottom:10px">
                            <h1 class="d-flex justify-content-center" style="margin-bottom: -10px; color: #0089CE ">DỊCH VỤ RỬA XE TẬN NHÀ THẾ HỆ MỚI</h1>
                            <h2 class="d-flex justify-content-center" style="color: #FEE000; font-family: SVN-Poppins-Medium; font-style: italic; margin-bottom: 20px; text-shadow: 1px 2px #717173; ">An toàn - Tiện lợi - Mọi lúc mọi nơi</h2>
                        </div>

                        <div class="d-flex justify-content-center">
                            <input type="number" class="form-control dvPhoneReg" name="name" value="" placeholder="Nhập số điện thoại để đặt lịch..." />
                        </div>
                        <br />
                        <div class="d-flex justify-content-center">
                            <div class="p-2 mybutton" style="border: 2px solid #0089CE; width: 120px; border-radius: 50px; text-align: center;">
                                <a onclick="fetchOTPAuthentication()" href="#">
                                    Tiếp theo
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            </div>
        </div>
    </div>
</section>
<!-- ======= App Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="section-title">
            <h2>
                SẢN PHẨM CHĂM SÓC XE HƠI
                HÀNG ĐẦU THẾ GIỚI
            </h2>
            <p>
                Tại Carrect, chúng tôi chỉ sử dụng các giải pháp làm sạch tiêu chuẩn quốc tế được nhập khẩu từ Mỹ và Hàn Quốc, giữ cho chiếc xe của bạn sáng bóng như mới.
                Cho dù bạn là một chuyên gia chuẩn bị cho một triển lãm ô tô, hay đơn giản là muốn kéo dài tuổi thọ của chiếc xe của bạn, hãy để nó được chăm sóc đúng cách.
            </p>
        </div>

        <div class="row no-gutters">
            <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
                <div class="content d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4>Dễ dàng sử dụng</h4>
                            <p>Giới thiệu nhanh về đặc tính và đặc biệt của "Dễ dàng sử dụng"</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Dịch vụ chuyên nghiệp</h4>
                            <p>Giới thiệu nhanh về đặc tính và đặc biệt của "Dịch vụ chuyên nghiệp"</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-images"></i>
                            <h4>Đa dạng nhu cầu</h4>
                            <p>Giới thiệu nhanh về đặc tính và đặc biệt của "Đa dạng nhu cầu"</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4>Thao tác đơn giản</h4>
                            <p>Giới thiệu nhanh về đặc tính và đặc biệt của "Thao tác đơn giản"</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-atom"></i>
                            <h4>Tiêu diệt triệt để vi khuẩn</h4>
                            <p>Giới thiệu nhanh về đặc tính và đặc biệt của "Tiêu diệt triệt để vi khuẩn"</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-id-card"></i>
                            <h4>Đảm bảo vệ sinh</h4>
                            <p>Giới thiệu nhanh về đặc tính và đặc biệt của "Đảm bảo vệ sinh"</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                <img src="/assets/img/features.svg" class="img-fluid" alt="">
            </div>
        </div>

    </div>
</section><!-- End App Features Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>ỨNG DỤNG DI ĐỘNG GIÚP BẠN CHĂM SÓC XE TỪ BẤT KÌ ĐÂU</h2>
            <p>Đặt lịch và trải nghiệm dịch vụ chăm sóc xe hơi chuyên nghiệp ở bất kỳ địa điểm nào bạn mong muốn, thậm chí ngay tại nhà bạn</p>
        </div>

    </div>

    <div class="container-fluid" data-aos="fade-up">
        <div class="gallery-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-1.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-1.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-2.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-2.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-3.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-3.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-4.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-4.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-5.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-5.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-6.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-6.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-7.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-7.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-8.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-8.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-9.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-9.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-10.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-10.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-11.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-11.png" class="img-fluid" alt=""></a></div>
                <div class="swiper-slide"><a href="/assets/img/gallery/gallery-12.png" class="gallery-lightbox" data-gall="gallery-carousel"><img src="/assets/img/gallery/gallery-12.png" class="img-fluid" alt=""></a></div>
            </div>
            <div class="swiper-pagination"></div>
        </div>

    </div>
</section><!-- End Gallery Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>CÂU HỎI THƯỜNG GẶP</h2>
            <p>Các câu hỏi chung và chính sách sử dụng ứng dụng được nêu ra bên dưới</p>
        </div>

        <div class="accordion-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">Tôi phải nhập mã khuyến mãi mà tôi có ở đâu? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                        <p>
                            Nếu bạn nhận được mã khuyến mãi, vui lòng nhập mã này trên màn hình cuối cùng trước khi đặt dịch vụ. Sau khi bạn đặt dịch vụ, mọi khoản chiết khấu sẽ được khấu trừ vào tổng chi phí.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Bạn có làm việc với các doanh nghiệp?? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                            Có. Các doanh nghiệp liên hệ với chúng tôi trên info@carrect.vn để trao đổi về mức giá chiết khấu cho khách hàng doanh nghiệp. <br /><br />
                            Cho dù bạn muốn dàn xe bán hàng của mình trông thật hoàn hảo hay đơn giản là bạn muốn mang lại nụ cười trên khuôn mặt nhân viên của mình với việc dọn dẹp xe hàng tuần, vui lòng liên hệ với chúng tôi.
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Tôi có thể để bạn với chiếc xe của tôi hay tôi đứng chờ toàn bộ thời gian?? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                            Có, tất nhiên bạn có thể để chúng tôi với chiếc xe của bạn. Nếu đó chỉ là bên ngoài, chúng tôi không yêu cầu chìa khóa trừ khi bạn đặc biệt muốn thực hiện nội thất, vì vậy chúng tôi bình thường có thể tìm thấy xe của bạn và không làm phiền bạn. <br /><br />
                            Đối với các dịch vụ của chúng tôi liên quan đến việc làm sạch bên trong, thì chúng tôi sẽ cần chìa khóa. Chúng tôi có thể lấy chúng từ người mà bạn tin tưởng hoặc nơi nào đó bạn đã để chúng cho chúng tôi (cho dù đó là nơi tiếp tân hay nơi bí mật an toàn). <br /><br />
                            Sau đó, chúng tôi có thể gửi chúng qua hộp thư của bạn hoặc gửi lại cho hàng xóm hoặc quầy lễ tân. Chỉ cần cho nhân viên của chúng tôi biết bằng cách để lại nhận xét trong ghi chú đặt dịch vụ mà bạn có thể chỉnh sửa trong quá trình đặt dịch vụ. <br /><br />
                            Chúng tôi yêu cầu bạn sẵn sàng liên hệ tại thời điểm đặt dịch vụ trong trường hợp chúng tôi không tìm thấy xe của bạn!
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">Dung dịch rửa không nước là gì?? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                            Không có nước không có nghĩa là chúng tôi không sử dụng chất lỏng, chúng tôi có, chỉ là ít hơn. RẤT ÍT! Dung dịch siêu nano của chúng tôi là một sản phẩm thân thiện với môi trường giúp làm sạch, đánh bóng và bảo vệ bất kỳ bộ phận nào trên xe của bạn. <br /><br />
                            Sáp nano của chúng tôi, chứa loại sáp bảo vệ tự nhiên cứng nhất thế giới (loại carnauba cao cấp) mang đến cho xe của bạn một lớp phủ bóng gương cao cấp
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">Bạn có cần cung cấp điện hoặc nước không?? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                        <p>
                            Không, chúng tôi không yêu cầu bất cứ điều gì từ bạn, chúng tôi hoàn toàn khép kín vì vậy đừng lo lắng về dây cáp nối dài hoặc đường ống dẫn của bạn bị đứt. Chúng tôi sử dụng thiết bị chạy bằng pin tuổi thọ cao (hoặc máy phát điện tiêu thụ ít nhiên liệu cho một số dịch vụ) và kỹ thuật rửa không cần nước để cho phép chúng tôi hoàn toàn độc lập khi chăm sóc xe. <br /> <br />
                            Tuy nhiên đối với dịch vụ chọn thêm rửa hơi nước chúng tôi cần một nguồn điện gần đó
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section><!-- End Frequently Asked Questions Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>LIÊN HỆ NHANH</h2>
            <p>Vui lòng để lại thông tin liên hệ để được đội ngũ Carrect liên hệ và giải đáp thắc mắc.</p>
        </div>

        <div class="row">

            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 info">
                        <i class="bx bx-map"></i>
                        <h4>Địa chỉ</h4>
                        <p>Số 19, đường 46,<br>Thảo Điền, Thủ Đức, HCM</p>
                    </div>
                    <div class="col-lg-6 info">
                        <i class="bx bx-phone"></i>
                        <h4>Điện thoại</h4>
                        <p>+84909.111.222<br>+8435.510.8995</p>
                    </div>
                    <div class="col-lg-6 info">
                        <i class="bx bx-envelope"></i>
                        <h4>Hộp thư</h4>
                        <p>contact@carrect.vn<br>info@carrect.vn</p>
                    </div>
                    <div class="col-lg-6 info">
                        <i class="bx bx-time-five"></i>
                        <h4>Giờ làm việc</h4>
                        <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
                    <div class="form-group">
                        <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" required>
                    </div>
                    <div class="form-group mt-3">
                        <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="form-group mt-3">
                        <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject" required>
                    </div>
                    <div class="form-group mt-3">
                        <textarea placeholder="Message" class="form-control" name="message" rows="5" required></textarea>
                    </div>
                    <div class="my-3">
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your message has been sent. Thank you!</div>
                    </div>
                    <div class="text-center"><button type="submit">Send Message</button></div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-newsletter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h4>BẠN MUỐN NHẬN THÔNG BÁO</h4>
                    <p>Đăng ký với email của bạn để được nhận các thông báo cập nhật thường xuyên từ chúng tôi</p>
                    <form action="" method="post">
                        <input type="email" name="email"><input type="submit" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>CARRECT</h3>
                    <p>
                        No 19, Road 46 <br>
                        Thao Dien Ward, Thu Duc City<br>
                        HCMC, Viet Nam <br><br>
                        <strong>Phone:</strong> +8428.2210.8606<br>
                        <strong>Email:</strong> info@carrect.vn<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Liên kết</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Về Carrect</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Dich vụ</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tin tức</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Chính sách bảo mật</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Điều khoản sử dụng</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Dịch vụ</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graboil</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Car Spa Flex</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Car Spa Couple</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Car Spa Single</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Car Spa Family</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Kết nối với chúng tôi</h4>
                    <p> Giấy chứng nhận đăng ký doanh nghiệp số: 0108732344 do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày 10/05/2019</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container py-4">
        <div class="copyright">
            &copy; Copyright <strong><span>CARRECT</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://insitu.com.vn">INSITU</a>
        </div>
    </div>
</footer><!-- End Footer -->
<style>
    #hero .container-fluid {
        background-image: url('../../Upload/CARRECT1_BACKGROUND.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }


    .mybutton:hover {
        background-color: #0089CE;
    }

        .mybutton:hover a {
            color: #fff;
        }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
