<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div style="width: 50%; background: #D6D6E2; border-radius: 50px">
                    <div class="m-5">
                        <div class="d-flex justify-content-center">
                            <div style="width:50%;border-radius:50px;background: #002C61">
                                <h1 class="d-flex justify-content-center" style="color: #FCF600; margin-bottom: 0px;">
                                    ĐẶT LỊCH NGAY
                                </h1>
                            </div>
                        </div>
                        <h1 class="d-flex justify-content-center" style="margin-bottom:-15px">DỊCH VỤ RỬA XE TẬN NHÀ THẾ HỆ MỚI</h1>
                        <h2 class="d-flex justify-content-center" style="color: #FCF600; font-style:italic; margin-top:10px;margin-bottom:20px">An toàn - Tiện lợi - Mọi lúc mọi nơi</h2>
                        <div style="text-align:center">
                            <input type="text" class="form-control" name="name" value="" placeholder="Nhập số điện thoại để đặt lịch" />
                            <br />
                            <button onclick="fetchOTPAuthentication()" type="button" class="btn btn-primary">>> Tiếp theo</button>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
                    <img src="/assets/img/master.png" class="img-fluid" alt="">
                </div>*@
        </div>
    </div>

</section><!-- End Hero -->
<style>
    #hero h1 {
        font-size: 20px;
    }
</style>
