<section id="hero" class="d-flex align-items-center">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-3 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            </div>
            <div class="col-lg-6 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div class="m-5" style="background: #D6D6E2; border-radius: 50px">
                    <div class="m-3">
                        <div class="d-flex justify-content-center">
                            <div class="ringing-bell" style="border-radius: 50px; background: #003E5F">
                                <h1 class="d-flex justify-content-center align-items-center m-2" style="color: #FCF600; margin-bottom: 0px; line-height:30px">
                                    &nbsp <i class='fa fa-bell faa-ring animated fa-1x'></i> &nbsp &nbsp ĐẶT LỊCH NGAY &nbsp &nbsp
                                </h1>
                            </div>
                        </div>
                        <h1 class="d-flex justify-content-center" style="margin-bottom: -15px; color: #0089CE ">DỊCH VỤ RỬA XE TẬN NHÀ THẾ HỆ MỚI</h1>
                        <h2 class="d-flex justify-content-center" style="color: #FCF600; font-style:italic; margin-top:10px;margin-bottom:20px">An toàn - Tiện lợi - Mọi lúc mọi nơi</h2>
                        <div class="d-flex justify-content-center">
                            <input type="text" class="form-control" name="name" value="" placeholder="Nhập số điện thoại để đặt lịch" />
                        </div>
                        <br />
                        <div class="d-flex justify-content-center">
                            <div class="p-2" style="border: 1px solid #0089CE; width: 120px; border-radius: 50px; text-align:center">
                                <a  onclick="fetchOTPAuthentication()" href="#">                                
                                Tiếp theo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
            </div>
        </div>
    </div>
</section>
<style>
    #hero .container-fluid {
        background-image: url('../../Upload/CARRECT1_BACKGROUND.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }

        #hero h1 {
            font-size: 20px;
        }

    #hero {
        padding-top: 70px;
        padding-bottom: 0px;
    }
</style>
