<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row mybackground">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div class="m-5" style="background: #fff; border-radius: 20px">
                    <div class="m-3">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class=" achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class="aactive achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class=" achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form_datlich" style="width: 500px;">
                            <div class="d-flex justify-content-center">
                                <h1 class="d-flex justify-content-center" style="color: #003E5F; margin-bottom: 0px">
                                    XÁC NHẬN ĐƠN HÀNG
                                </h1>
                            </div>
                            <div class="xacnhandonhang_box">
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-user"></i> <span>Nguyễn văn A</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-mobile"></i> <span>0986746554</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-map"></i> <span>The backyard...</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bx-calendar"></i> <span>08:00</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-map-pin"></i> <span>Đến hầm B1</span>
                                </div>
                            </div>
                            <div class="thongtindichvu">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-3">
                                        </div>
                                        <div class="col-6">
                                            <div class="thongtindichvu_title">
                                                Thông tin dịch vụ
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex align-items-center">

                                            <div class="thongtindichvu_icon d-flex justify-content-center" style="font-size:30px">
                                                <a>
                                                    <i class="exception bx bx-pencil"></i>
                                                </a>
                                                <a>
                                                    <i class="exception bx bx-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Hãng xe:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Ford</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Tên xe:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Escoport</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Gói dịch vụ:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Car Spa Single</div>
                                    </div>
                                </div>
                            </div>
                            <div class="thongtindichvu">
                                <div class="thongtindichvu_title">
                                    Thông tin thanh toán

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Hình thức thanh toán:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Thành tiền</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Giá giảm</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Vat 10%</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="nhapmakm">
                                    <span>Nhập mã khuyến mãi</span><span class="apdung">Áp dụng</span>
                                </div>
                                <div class="nhapmakm">
                                    <span>Dùng điểm</span><span class="apdung">0/50.000</span>
                                </div>
                                <div class="tongcongbox">
                                    <span class="tongcong1">Tổng cộng</span>
                                    <span class="tongcong1">30.000đ</span>
                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-between">
                            <div style=" width: 150px; border-radius: 50px; text-align: center; ">
                                <a class="d-flex align-items-center" onclick="fetchStep3()" href="#" style="color: #95ACA9">
                                    <i class="fa fa-angle-double-left fa-2x"></i>
                                    <strong class="d-flex align-items-center">
                                        &nbsp &nbsp Trở về
                                    </strong>
                                </a>
                            </div>
                            <div style="border: 1px solid #0089CE; width: 150px; border-radius: 50px; text-align: center; background: #003E5F; ">
                                <a class="d-flex align-items-center" onclick="fetchStep6()" href="#" style="color: #fff">
                                    
                                    <strong class="d-flex align-items-center">
                                        <i class="fa fa-angle-double-right fa-2x" style="padding-left:10px; padding-right:15px"></i>
                                        TIẾP THEO
                                    </strong>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- End Hero -->
<style>

    #hero h1 {
        font-size: 26px;
    }

    .mybackground {
        background-image: url('../../Upload/CARRECT1_BACKGROUND.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col-2 {
        width: 12.666667%;
    }

    #hero {
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .stepul {
        position: fixed;
        z-index: 99999999;
        left: 20%;
        top: 400px;
        transform: translate(0px,-50%);
    }
</style>






<!-- ======= Hero Section ======= -->
<!--<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div style="width: 50%; background: #D6D6E2; border-radius: 50px">
                    <div class="m-5">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class=" achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class="aactive achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class=" achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form_datlich">
                            <h5 class="modal-title" id="exampleModalLongTitle">XÁC NHẬN ĐƠN HÀNG</h5>
                            <div class="xacnhandonhang_box">
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-user"></i> <span>Nguyễn văn A</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-mobile"></i> <span>0986746554</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-map"></i> <span>The backyard...</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bx-calendar"></i> <span>08:00</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-map-pin"></i> <span>Đến hầm B1</span>
                                </div>
                            </div>
                            <div class="thongtindichvu">
                                <div class="thongtindichvu_title">
                                    Thông tin dịch vụ

                                </div>
                                <div class="thongtindichvu_icon">
                                    <a>
                                        <i class="bx bx-pencil"></i>
                                    </a>
                                    <a>
                                        <i class="bx bx-plus"></i>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Hãng xe:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Ford</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Tên xe:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Escoport</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Gói dịch vụ:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Car Spa Single</div>
                                    </div>
                                </div>
                            </div>
                            <div class="thongtindichvu">
                                <div class="thongtindichvu_title">
                                    Thông tin thanh toán

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Hình thức thanh toán:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Thành tiền</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Giá giảm</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Vat 10%</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="nhapmakm">
                                    <span>Nhập mã khuyến mãi</span><span class="apdung">Áp dụng</span>
                                </div>
                                <div class="nhapmakm">
                                    <span>Dùng điểm</span><span class="apdung">0/50.000</span>
                                </div>
                                <div class="tongcongbox">
                                    <span class="tongcong1">Tổng cộng</span>
                                    <span class="tongcong1">30.000đ</span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button onclick="fetchStep3()" type="button" class="btn btn-primary"><< Trở về</button>
                                <button onclick="fetchStep6()" type="button" class="btn btn-primary">>> Tiếp theo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>--><!-- End Hero -->
<!--<style>
    #hero h1 {
        font-size: 20px;
    }

    h3 {
        margin-top: 20px;
    }
</style>-->




