<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div style="width: 50%; background: #D6D6E2; border-radius: 50px">
                    <div class="m-5">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class=" achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class="aactive achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class=" achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form_datlich">
                            <h5 class="modal-title" id="exampleModalLongTitle">XÁC NHẬN ĐƠN HÀNG</h5>
                            <div class="xacnhandonhang_box">
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-user"></i> <span>Nguyễn văn A</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-mobile"></i> <span>0986746554</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-map"></i> <span>The backyard...</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bx-calendar"></i> <span>08:00</span>
                                </div>
                                <div class="xacnhandonhang_info">
                                    <i class="bx bxs-map-pin"></i> <span>Đến hầm B1</span>
                                </div>
                            </div>
                            <div class="thongtindichvu">
                                <div class="thongtindichvu_title">
                                    Thông tin dịch vụ

                                </div>
                                <div class="thongtindichvu_icon">
                                    <a>
                                        <i class="bx bx-pencil"></i>
                                    </a>
                                    <a>
                                        <i class="bx bx-plus"></i>
                                    </a>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Hãng xe:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Ford</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Tên xe:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Escoport</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Gói dịch vụ:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Car Spa Single</div>
                                    </div>
                                </div>
                            </div>
                            <div class="thongtindichvu">
                                <div class="thongtindichvu_title">
                                    Thông tin thanh toán

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Hình thức thanh toán:</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Thành tiền</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Giá giảm</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">Vat 10%</div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="thongtindichvuspan">...</div>
                                    </div>
                                </div>
                                <div class="nhapmakm">
                                    <span>Nhập mã khuyến mãi</span><span class="apdung">Áp dụng</span>
                                </div>
                                <div class="nhapmakm">
                                    <span>Dùng điểm</span><span class="apdung">0/50.000</span>
                                </div>
                                <div class="tongcongbox">
                                    <span class="tongcong1">Tổng cộng</span>
                                    <span class="tongcong1">30.000đ</span>
                                </div>
                            </div>

                            <div class="d-flex justify-content-between">
                                <button onclick="fetchStep3()" type="button" class="btn btn-primary"><< Trở về</button>
                                <button onclick="fetchStep6()" type="button" class="btn btn-primary">>> Tiếp theo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<style>
    #hero h1 {
        font-size: 20px;
    }

    h3 {
        margin-top: 20px;
    }
</style>




