<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div style="width: 50%; background: #D6D6E2; border-radius: 50px">
                    <div class="m-5">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class="achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class="aactive achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class="achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="form_datlich">
                            <h5 class="modal-title" id="exampleModalLongTitle">TÌM KIẾM THÀNH CÔNG</h5>

                            <div style="text-align:center">
                                <div style="height:200px">
                                    <img style="width:auto; height:100%" src="~/Upload/master.png" />
                                </div>
                                
                                <h4 class="d-flex justify-content-center" style="margin-bottom:-5px">Lê Phước Thắng</h4>
                                <h4 class="d-flex justify-content-center">0902.927.069</h4>

                            </div>
                            <br />
                            <div class="d-flex justify-content-between">
                                <button onclick="fetchStep4()" type="button" class="btn btn-primary"><< Trở về</button>
                                <button onclick="fetchStep7()" type="button" class="btn btn-primary">>> Tiếp theo</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- End Hero -->
<style>
    #hero h1 {
        font-size: 20px;
    }

    h3 {
        margin-top: 20px;
    }
</style>


