<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row mybackground">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div class="m-5" style="background: #fff; border-radius: 20px">
                    <div class="m-3">
                        <div class="stepul">
                            <ul>
                                <li>
                                    <a data-text="Thông tin đặt lịch" data-value="1" class="achung" onclick="active(this)">
                                        <span>1</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Thông tin xe" data-value="2" class="achung" onclick="active(this)">
                                        <span>2</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Lựa chọn dịch vụ" data-value="3" class="achung" onclick="active(this)">
                                        <span>3</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Xác nhận đơn hàng" data-value="4" class=" achung" onclick="active(this)">
                                        <span>4</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-text="Tìm kiếm chuyên gia" data-value="5" class="aactive achung" onclick="active(this)">
                                        <span>5</span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="form_datlich" style="width: 600px;">                            
                            <div class="d-flex justify-content-center">
                                <h1 class="d-flex justify-content-center" style="color: #003E5F; margin-bottom: 0px">
                                    TÌM KIẾM THÀNH CÔNG
                                </h1>
                            </div>
                            <div style="text-align:center">
                                <div style="height:200px">
                                    <img style="width:auto; height:100%" src="~/Upload/master2.png" />
                                </div>
                                <br />
                                <p class="d-flex justify-content-center" style="margin-bottom: 0px; font-size: 20px; font-family: SVN-Poppins-Bold">Lê Phước Thắng</p>
                                <p class="d-flex justify-content-center">0902.927.069</p>
                                <ul class="Ratebox">
                                    <li>
                                        <a>
                                            <i class="bx bxs-star Rateboxatv"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="bx bxs-star Rateboxatv"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="bx bxs-star Rateboxatv"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="bx bxs-star Rateboxatv"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a>
                                            <i class="bx bxs-star Rateboxatv"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <br />
                        </div>
                        
                        <div style="text-align:center">
                            <p><i style="color:red" class="bx bx-map"></i> The Backyard, 19 đường số 46, Thảo điền, quận 2, TPHCM</p>
                            <p><u>Thay đổi</u></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- End Hero -->
<style>

    #hero h1 {
        font-size: 26px;
    }

    .mybackground {
        background-image: url('../../Upload/CARRECT1_BACKGROUND.PNG');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .col-2 {
        width: 12.666667%;
    }

    #hero {
        padding-top: 70px;
        padding-bottom: 0px;
    }

    .stepul {
        position: fixed;
        z-index: 99999999;
        left: 18%;
        top: 280px;
        transform: translate(0px,-50%);
    }
    .Ratebox {
        margin: 0px;
        padding: 0px;
        margin-left: -10px;
        margin-top: 24px;
    }
        .Ratebox li {
            display: inline-block;
        }
            .Ratebox li a {
                display: block;
            }
            .Ratebox li i {
                position: relative !important;
                left: 0px !important;
                top: 0px !important;
                font-size: 30px !important;
            }
    .Rateboxatv {
        color: #FFD61C!important;
    }
</style>


<!-- ======= Hero Section ======= -->
<!--<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 d-flex justify-content-center pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
                <div style="width: 50%; background: #D6D6E2; border-radius: 50px">
                    <div class="m-5">
                        
     
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>--><!-- End Hero -->
<!--<style>
    #hero h1 {
        font-size: 20px;
    }

    h3 {
        margin-top: 20px;
    }
</style>-->


