
@font-face {
    font-family: 'SVN-Poppins-Regular';
    src: url('../fonts/SVN-Poppins-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'SVN-Poppins-Bold';
    src: url('../fonts/SVN-Poppins-Bold.ttf') format('truetype');
}