@media only screen and (max-width:768px) {
    .otpauthen {
        background: #fff;
        border-radius: 20px;
        margin-top: 0px;
        margin-bottom: 50px;
    }

    .inputform {
        margin-top: 0px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .m-5 {
        margin: 3rem 0rem !important;
    }

    .stepul {
        position: fixed;
        z-index: 99999999;
        left: 50%;
        top: 130px;
        width: 80%;
        transform: translate(-50%,-50%);
    }

        .stepul ul li {
            display: inline-block;
            width: 18%;
            text-align: center;
        }

            .stepul ul li a {
                color: #5a5a5a !important;
                background-color: #eee;
                border-radius: 50%;
                height: 30px;
                width: 30px;
                cursor: pointer;
                display: block;
                margin-bottom: 0px;
                margin: 0px auto;
                text-align: center;
                position: relative;
            }

                .stepul ul li a:after {
                    position: absolute;
                    content: "";
                    bottom: 10px;
                    right: 0px;
                    z-index: -1;
                    width: 11vh;
                    height: 5px;
                    transform: translate(0px,0px);
                    background-color: gainsboro;
                }

            .stepul ul li:first-child a:after {
                width: 11vh;
                height: 5px;
            }

            .stepul ul li:last-child a:after {
                width: 0px;
                height: 0px;
            }

    .form_datlich {
        padding-top: 20px;
    }

    #hero h1 {
        font-size: 15px;
        margin-top: 20px;
    }

    .contact .php-email-form input {
        padding: 5px 15px;
    }

    #hero h2 {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 30px;
        margin-bottom: 14px !important;
        margin-top: 10px;
    }

    .p-2 span, .p-2 strong {
        font-size: 15px;
        position: relative;
        left: 17px;
    }

    .p-2 {
        padding: 0.2rem 0.5rem !important;
    }

        .p-2 i {
            font-size: 18px;
            position: relative;
            left: 8%;
        }

    .themanh_item img {
        margin-bottom: 15px;
    }

    .themanh_plus {
        margin-bottom: 8px;
    }

    .form_datlich {
        width: auto !important;
    }

    .xacnhandonhang_box {
        text-align: left;
    }

    .xacnhandonhang_info {
        margin: 5px 0px;
        display: inline-block;
    }

    .thongtindichvu_title {
        color: white;
        background-color: #003760;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 3px;
        font-size: 12px;
        padding: 4px 5px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .thongtindichvu_icon i {
        font-size: 23px;
    }

    .thongtindichvu_icon {
        font-size: 12px;
        position: relative;
        top: -4px;
    }

    #navbar2 ul li a {
        padding: 10px 0 10px 0px;
        font-size: 11px;
    }

    #navbar2 ul li i {
        font-size: 28px !important;
    }

    .inputform_padding {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 30px;
        padding-bottom: 30px
    }

    #hero .dvPhoneReg {
        width: 90%;
        padding: 0.8rem 1rem;
        font-size: 0.8rem;
        text-align: center;
    }

    .stepul li a span {
        position: relative;
        top: 3px;
        font-size: 13px;
        color: #003E5F;
        font-weight: bold;
    }
    #hero {
        padding-top: 30px;
        padding-bottom: 0px;
    }
}
